---
layout: blog-layout.html
title: Goals For 2014
section: Blog
date: 2/4/2014
tags:
- blogs
published: false
---
<section class="article-heading">
	<h1>{{title}}</h1>
	<h2 class="subtitle">{{date}}</h2>
</section>

<p class="lead">
	This year I want to push myself to be a better developer and leader. One can only hope to affect change within their own environment, so I intend to actually make a positive difference in my team.
</p>

<h3>Focuses</h3>
<ul>
	<li>Be a better developer
		<ul>
			<li>Code organization</li>
			<li>Write testable code</li>
			<li>Streamlined build process</li>
		</ul>
	</li>
	<li>Affect Change
		<ul>
			<li>Standardize web/app projects within my team</li>
			<li>Get everyone using the same versioning workflow</li>
			<li>Get everyone using the same development tools</li>
		</ul>
	</li>
</ul>