---
title: Blog
tags:
- blogs
---
<div class="row" role="main">
	<div class="grid-12 columns">
		<section>
			<article>
				{{#each page.related}}
					<a href="{{relative ../page.dest this.dest}}">
						<h2>{{this.data.title}}</h2>
						<h4 class="subtitle">Published: {{this.data.date}}</h4>
					</a>
				{{/each}}
			</article>
		</section>
	</div>
</div>