---
title: Blog
pages:
- one
- two
---
<article class="text-center">
	<h1>Blog</h1>
	
	<p>Coming soon...</p>
</article>

<hr>

<div class="row">
	<div class="grid-12 columns">
		<h4>List the blog posts inside src/templates/blog/posts here:</h4>
		<ul>
			{{#each pages}}
				<li>{{this.basename}}</li>
			{{/each}}
		</ul>
	</div>
</div>