---
title: Blog
tags:
- blogs
---
<div class="row" role="main">
	<div class="grid-12 columns">
		<article>
			{{#each page.related}}
				<a href="{{relative ../page.dest this.dest}}" class="blog-roll-item">
					<h2 class="blog-title">{{this.data.title}}</h2>
					<h4 class="blog-subtitle">Published: {{this.data.date}}</h4>
				</a>
			{{/each}}
		</article>
	</div>
</div>