---
title: About
section: About
---
<div class="row">
	<div class="grid-12 columns">
		<div class="row">
			<div class="grid-4 columns text-center">
				<img class="me-portrait" src="/img/me.png" alt="Demetri Ganoff">

				<!-- <p>
					<a href="cv.html" class="button">
					<i class="fa fa-file-text-o icon"></i>View My CV/Resume<span class="tip">hi!</span></a>
				</p> -->
			</div>
			<div class="grid-8 columns about-me">
				<h1>I'm Demetri Ganoff.
					<small>I work at HD Supply on their enterprise web team.</small>
				</h1>
				<!-- <p>
					My role includes front-end development, project management, and mobile/web app design & development.
				</p>
				<p>
					In my freetime, I like to tinker with my side projects and code experiments on CodePen. Check em' out in my <a href="playground.html">code playground</a>!
				</p> -->
				<ul class="about-tiles">
					<li class="tile">
						<a href="cv.html">
							<i class="fa fa-file-text-o"></i>
							Resume
						</a>
					</li>
					<li class="tile">
						<a href="playground.html">
							<i class="fa fa-code"></i>
							Code Playground
						</a>
					</li>
				</ul>
			</div>
		</div>

		<h2 class="text-center">Things that happened before today:</h2>

		{{> timeline}}
	</div>
</div>