---
title: About
section: About
---
<div class="row">
	<div class="grid-12 columns">
		<div class="row">
			<div class="grid-4 columns text-center">
				<img class="me-portrait" src="/img/me.jpg" alt="Demetri Ganoff">
			</div>
			<div class="grid-8 columns about-me">
				<h1>I'm Demetri Ganoff.
					<small>I work at HD Supply on their enterprise web team.</small>
				</h1>
				<p>
					My role includes front-end development, project management, and mobile/web app design & development.
				</p>
				<p>
					<a href="cv.html" class="button"><i class="icon-file-text-alt icon"></i>Check Out My CV/Resume</a>
				</p>
				<p>
					In my freetime, I like to tinker with my side projects and code experiments on CodePen. Check em' out in my code <a href="playground.html">playground</a>!
				</p>
			</div>
		</div>

		<h2 class="text-center">Things that happened before today:</h2>

		{{> timeline}}
	</div>
</div>