---
title: About
section: About
---
<div class="row">
	<div class="grid-12 columns">
		<div class="row">
			<div class="grid-4 columns text-center">
				<img class="me-portrait" src="/img/me.jpg" alt="Demetri Ganoff">
			</div>
			<div class="grid-8 columns about-me">
				<h1>I'm Demetri Ganoff.
					<small>I work at HD Supply on their enterprise web team.</small>
				</h1>
				<p>
					My role includes front-end development, project management, and mobile/web app design & development.
				</p>
				<p>
					<a href="cv.html" class="button"><i class="icon-file-text-alt"></i> Check out my CV/Resume</a>
				</p>
				<p>
					I enjoy working on <a href="#side-projects">side projects</a> and learning about new web technologies.
				</p>
			</div>
		</div>

		<h2 class="text-center">Things that happened before today:</h2>

		{{> timeline}}

		<section id="side-projects">
			<h2>Side Projects</h2>

			<h3 class="side-project-title"><a href="http://github.com/dganoff/Money-Bags">Money Bags</a></h3>
			<p>A mini web app used to track a monthly budget and yearly savings based on income and expenses provided by the user. I'm still tinkering with this project, so it is very much a work in progress.</p>
			<p><strong>Technologies Used:</strong></p>
			<ul>
				<li>Foundation 4 (SASS)</li>
				<li>Angular JS</li>
				<li>Grunt JS</li>
				<li>Node JS</li>
			</ul>
		</section>
	</div>
</div>