---
title: CV
section: About
---
<div class="row">
	<div class="grid-12 columns">
		<h1 class="cv-name text-center">Demetri Ganoff <small>Front-End Developer, Project Manager, Web Enthusiast.</small></h1>

		<div class="row">
			<div class="grid-6 columns">
				<section class="skills">
					<h2 class="cv-sect-title">Skills/Tools</h2>
					<ul class="icons-ul">
						<li><i class="icon-li icon-ok"></i> HTML5 (Emmet, Assemble)</li>
						<li><i class="icon-li icon-ok"></i> CSS3 (SASS)</li>
						<li><i class="icon-li icon-ok"></i> JavaScript (jQuery, AngularJS, Titanium, NodeJS, GruntJS)</li>
						<li><i class="icon-li icon-ok"></i> Git/Github</li>
						<li><i class="icon-li icon-ok"></i> SVN</li>
						<li><i class="icon-li icon-ok"></i> Sublime Text</li>
						<li><i class="icon-li icon-ok"></i> Responsive Web Design</li>
						<li><i class="icon-li icon-ok"></i> Mobile Native Development (Appcelerator/Titanium)</li>
						<li><i class="icon-li icon-ok"></i> Project Mangement & Leadership</li>
					</ul>
				</section>

				<section class="projects">
					<h2 class="cv-sect-title">Projects</h2>
					
					<div class="project">
						<h3><i class="icon-li icon-trophy"></i> White Cap Native App</h3>
						<p>
							<a href="https://itunes.apple.com/us/app/white-cap/id781569445?ls=1&mt=8">iOS</a> and <a href="https://play.google.com/store/apps/details?id=com.hdsupply.whitecapapp&hl=en">Android</a> app for the White Cap customers to browse the mobile White Cap website, search for White Cap branches and use a concrete calculator. <br>
							<a href="http://online.wsj.com/article/PR-CO-20140121-905526.html">Wall Street Journal Article</a>
						</p>
						<p>
							<strong>Role:</strong> I led the design and development of this native multi-platform application. We used the Appcelerator platform, specifically their Alloy MVC framework built on top of the Titanium JavaScript library.
						</p>
					</div>

					<div class="project">
						<h3><i class="icon-li icon-trophy"></i> Event Check-in Web Application</h3>
						<p>
							An intuitive, mobile-friendly check-in web application for attendees of an event. The goal of this project was to facilitate the check-in process to make the attendees' experience smoother when arriving at the event.
						</p>
						<p>
							<strong>Role:</strong> Developer and project lead. I worked with one other junior front-end developer to coach and guide them through the process of developing this web application. We took a design from static mockup to html prototype and ultimately a fully functional web application. We used AngularJS for the client-side functionaity and NodeJS with Express for a back-end. The NodeJS express server was used to create a RESTful API which queried a SQL database for user information. Unfortunately I cannot share the link to this product since it was meant for internal use only.
						</p>
					</div>

					<div class="project">
						<h3><i class="icon-li icon-trophy"></i> HD Supply Location Finder</h3>
						<p>
							The first branch locator for HD Supply.
						</p>
						<p>
							<strong>Role:</strong> I was responsible for the entire project. The web app uses Google Maps, responsive web design, ASP.NET/VBScript and a SQL database.
						</p>
						<p>
							<strong>Link:</strong> <a href="http://www.hdsupply.com/locations/">http://www.hdsupply.com/locations</a>
						</p>
					</div>

					<div class="project">
						<h3><i class="icon-li icon-trophy"></i> FieldTrac iPad Application</h3>
						<p>
							Productivity internal application for the Creative Touch Interiors (CTI) business' Field Managers. Field Managers can view their scheduled events for the week, assigned jobsites, submit change requests into the CTI SAP system, fill out forms and sign them using touchscreen. 
						</p>
						<p>
							<strong>Role:</strong> I managed the development of this project and worked with other internal teams to coordinate many aspects of the project. I also designed the UI of the app.
						</p>
					</div>

					<div class="project">
						<h3><i class="icon-li icon-trophy"></i> Brock & Scott PLLC Website Redesign</h3>
						<p>
							<strong>Role:</strong> Worked with a combination of Partners and the IT department from the law firm to redesign their website. The project goals included updating the look & feel to be more modern, utilize responsive design for a mobile-friendly experience and re-organize the website content to be more intuitive. I was the only designer and developer on this project.
						</p>
						<p>
							<strong>Link:</strong> <a href="https://www.brockandscott.com">https://www.brockandscott.com</a>
						</p>
					</div>
				</section>
			</div>

			<div class="grid-6 columns">
				<section class="employment">
					<h2 class="cv-sect-title">Employment</h2>

					<section class="job">
						<h3 class="job-company"><i class="icon-li icon-suitcase"></i> HD Supply</h3>
						<time class="cv-dates">July 2007 - Present</time>
						<div class="row">
							<div class="small-grid-2 columns text-right">
								<strong>Role:</strong>
							</div>
							<div class="small-grid-10 columns">
								Senior Web Designer
							</div>
						</div>
						<div class="row">
							<div class="small-grid-2 columns text-right">
								<strong>Tasks:</strong>
							</div>
							<div class="small-grid-10 columns">
								Front-end development, responsive design/development, mobile design/development, web app design/development, cross-browser compatibility, client interaction, project management.
							</div>
						</div>
					</section>
				
					<section class="job">
						<h3 class="job-company"><i class="icon-li icon-suitcase"></i> Brock & Scott PLLC (freelance)</h3>
						<time class="cv-dates">January 2013 - July 2013</time>
						<div class="row">
							<div class="small-grid-2 columns text-right">
								<strong>Role:</strong>
							</div>
							<div class="small-grid-10 columns">
								Web Designer & Developer
							</div>
						</div>
						<div class="row">
							<div class="small-grid-2 columns text-right">
								<strong>Tasks:</strong>
							</div>
							<div class="small-grid-10 columns">
								Scope out redesign project for entire website. Deliver design assets (mockups, wireframes, html prototypes). Develop responsive web site.
							</div>
						</div>
					</section>
				</section>

				<section class="education">
					<h2 class="cv-sect-title">Education</h2>
					<h3 class="cv-degree">Bachelor of Arts in Digital Media</h3>
					<h4 class="cv-school">University of Central Florida</h4>
					<time class="cv-dates">December 2008</time>
				</section>
				
				<section class="web-presence">
					<h2 class="cv-sect-title">Web Presence</h2>
					<ul class="web-presence-list">
						<li>
							<a title="@dganoff" href="http://www.twitter.com/dganoff"><i class="icon-twitter"></i> twitter</a>
						</li>
						<li>
							<a title="GitHub.com/dganoff" href="http://github.com/dganoff"><i class="icon-github"></i> github</a>
						</li>
						<li>
							<a title="CodePen.io/dganoff" href="http://codepen.io/dganoff"><i class="icon-codepen-black"></i> codepen</a>
						</li>
						<li>
							<a title="LinkedIn" href="http://www.linkedin.com/pub/demetri-ganoff/2b/97a/a58"><i class="icon-linkedin"></i> linkedin</a>
						</li>
					</ul>
				</section>
			</div>
		</div>
	</div>
</div>