---
title: Work
---
<article class="text-center">
	<h1>Work</h1>
	
	<p>...in progress...</p>

	<p>
		Check out the source code for this site: <i class="icon-github"></i> <a href="https://github.com/dganoff/personal-site"> https://github.com/dganoff/personal-site</a>
	</p>
</article>