---
layout: work-layout.html
title: FieldTrac 3PL Web/Mobile App
dates: 08/2014 - Present
---
<section class="work-role row">
	<div class="grid-12 columns">
		<h3>Role</h3>
		<p>Lead Front-End Developer. Responsible for HTML/CSS/JavaScript (AngularJS).</p>
	</div>
</section>

<section class="work-description row">
	<div class="grid-12 columns">
		<h3>Description</h3>
		<div class="row">
			<article class="grid-6 columns">
				<p>
					Responsive web/mobile application built with <strong>AngularJS</strong>. This is a productivity tool used by 3rd party vendors in the field. The app exposes scheduling and document information to help the user perform their job in the field.
				</p>
				<p>
					A key feature of this application is a signature capture capability that supports both mouse and touch input. Also featuring is a client-side (JavaScript) PDF generator that dynamically converts a web form into a PDF document (including signatures).
				</p>
			</article>
			<div class="grid-6 columns">
				<img src="/img/ft3pl-ui.gif" alt="FieldTrac 3PL Schedule">
			</div>
		</div>
	</div>
</section>