@mixin cv-section($color: black) {
	line-height: 1.45em;

	.cv-sect-title {
		color: $color;
		text-transform: uppercase;
	}

	h3 {
		color: $color;
	}

	[class*="fa-"] {
		color: $color;
	}
}

.cv-name {
	margin-top: 0;
	font-size: 2em;

	@media (min-width: $small-screen) {
		font-size: 3em;
	}
}

.intro {
	@include cv-section;
	text-align: center;

	@media (min-width: $small-screen) {
		text-align: left;
	}
}

.skills {
	@include cv-section(#2AB69D);
}

.projects {
	@include cv-section(#E65848);
}

.employment {
	@include cv-section(#EDC433);
}

.education {
	@include cv-section(#89588F);
}

.web-presence {
	@include cv-section(#00b4cc);
}

.project {
	padding-bottom: 1em;
}

.project-title {
	margin: 0;
}

.cv-dates {
	margin: 0;
	font-size: .85em;
	text-transform: uppercase;
	color: #aaa;
}

.job {
	padding-bottom: .5em;
	margin-bottom: 1em;

	.job-company {
		margin: 0;
	}
}

.cv-degree, .cv-school {
	margin: 0;
}

.web-presence-list {
	list-style: none;

	a {
		display: inline-block;
		padding: .25em 0;
		text-decoration: none;
		font-size: 1.5em;

		&:link, &:visited {
			color: black;
		}

		&:hover, &:active {
			opacity: 0.7;
		}

		.icon-codepen-black {
			position: relative;
			top: 3px;
			display: inline-block;
			width: 23px;
			height: 23px;
		}
	}
}

.overview {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.years-exp {
	text-align: center;

	.num-years {
		position:relative;
		display: inline-block;
		font-size: 4em;
		font-weight: bold;
		color: black;

		.fa {
			position: absolute;
			top: 15px;
			left: -1em;
			font-size: 30%;
			color: #ccc;
		}
	}
}

.exp-label {
	margin-bottom: 0.5em;
	text-transform: uppercase;
	font-size: 0.85em;
	font-weight: bold;
}