.hero {
	// background: lighten($primary-color,10);
	@include background-image(
		linear-gradient(top right, $primary-color, lighten($primary-color,20))
	);
	color: white;
	text-align: center;
	font-weight: 100;

	h1 {
		font-size: 44px;
		font-weight: 900;
		text-shadow: 0px 5px 4px rgba(black,.1);
		@include animation(fadeUp .5s ease-out);

		@media (max-width: $small-screen) {
			font-size: 38px;
		}
	}

	.subtitle {
		margin-top: -1em;
		font-weight: 300;
		font-size: 1.3em;
		@include animation(fadeUp .5s ease-out);

		@media (min-width: $small-screen) {
			font-size: 1.5em;
		}
	}
}

.hero-logo {

	width: 100px;

	@media (min-width: $small-screen) {
		width: 145px;
		@include animation(rotate 30.0s linear infinite);
	}
}

.social-tile-link {
	display: block;
	border-radius: .25em;
	padding-bottom: 10px;
	text-align: center;
	text-decoration: none;
	font-weight: 400;
	
	&:link, &:visited {
		color: white;
	}

	// @include transition(all .3s ease-in);

	&:hover, &:active {
		background: rgba(white,.25);

		i[class^="icon-"] {
			@include animation(happy .5s $ease-in-out-back infinite alternate);
		}
	}

	i[class^="icon-"] {
		display: block;
		font-size: 3em;
		color: darken($link-color, 10);
	}

	.icon-codepen-black {
		height: 49px;
		background-size: 45px;
		opacity: .6;
	}
}