.me-portrait {
	border-radius: 6px;
}

.about-me {
	h1 {
		margin-top: 0;
	}

	@media (max-width: $small-screen) {
		text-align: center;
	}
}

.timeline {
	position: relative;
	overflow: hidden;
	padding: $gutter 0;

	&:after {
		position: absolute;
		content: "";
		z-index: -1;
		height: 100%;
		width: 10px;
		background: $dark-color;
		left: 10px;
		top: 0;
		border-radius: 4px;
	}

	@media (min-width: 730px) {
		&:after {
			left: 49.5%;
		}
	}
}

.year {
	width: 50px;
	padding: .25em;
	margin-top: $gutter;
	border-radius: 4px;
	background: $dark-color;
	color: white;
	text-align: center;
	font-weight: 900;

	@media (min-width: 730px) {
		clear: both;
		margin: $gutter auto 0 auto;
	}
}

.blip {
	display: none;

	@media (min-width: 730px) {
		clear: both;
		display: block;
		position: relative;
		top: 35px;
		margin: 0 auto;
		width: 25px;
		height: 25px;
		border: 7px solid $dark-color;
		background: $link-color;
		border-radius: 50%;
	}
}

.event {
	position: relative;
	margin-top: $gutter;
	padding: $gutter;
	border-radius: 4px;
	background: $link-color;
	color: white;
	@include box-shadow(0px 3px 0px darken($link-color,10));
	@include animation(fadeUp .5s ease-out);

	@media (min-width: 730px) {
		float: left;
		width: 47%;
		margin-top: 0;

		&.right {
				float: right;
		}
	}

	.event-title {
		margin: 0 0 .25em 0;
	}

	.event-date {
		display: inline-block;
		margin-bottom: .25em;
		color: darken($link-color,20);
	}

	p {
		margin: 0;
	}

	a:link, a:visited {
		color: white;
	}
}