<div class="row">
	<div class="grid-6 columns">
		<h3 class="pen-title">Animate on scroll</h3>
		<p data-height="268" data-theme-id="0" data-slug-hash="jtvay" data-default-tab="result" class="codepen">See the Pen <a href="http://codepen.io/dganoff/pen/jtvay">Animate on Scroll</a> by Demetri Ganoff (<a href="http://codepen.io/dganoff">@dganoff</a>) on <a href="http://codepen.io">CodePen</a>.</p>
		<script async src="//codepen.io/assets/embed/ei.js"></script>
	</div>
	<div class="grid-6 columns">
		<h3 class="pen-title">Off-canvas Menu</h3>
		<p data-height="268" data-theme-id="0" data-slug-hash="CcJhG" data-default-tab="result" class="codepen">See the Pen <a href="http://codepen.io/dganoff/pen/CcJhG">Mobile Slide-in menu</a> by Demetri Ganoff (<a href="http://codepen.io/dganoff">@dganoff</a>) on <a href="http://codepen.io">CodePen</a>.</p>
	</div>
</div><!-- .row -->
<div class="row">
	<div class="grid-6 columns">
		<h3 class="pen-title">Hover Animations</h3>
		<p data-height="268" data-theme-id="0" data-slug-hash="LbEid" data-default-tab="result" class="codepen">See the Pen <a href="http://codepen.io/dganoff/pen/LbEid">Hover Animations</a> by Demetri Ganoff (<a href="http://codepen.io/dganoff">@dganoff</a>) on <a href="http://codepen.io">CodePen</a>.</p>
	</div>
	<div class="grid-6 columns">
		<h3 class="pen-title">SVG States</h3>
		<p data-height="268" data-theme-id="0" data-slug-hash="pisgl" data-default-tab="result" class="codepen">See the Pen <a href="http://codepen.io/dganoff/pen/pisgl">SVG States</a> by Demetri Ganoff (<a href="http://codepen.io/dganoff">@dganoff</a>) on <a href="http://codepen.io">CodePen</a>.</p>
	</div>
</div><!-- .row -->
<div class="row">
	<div class="grid-6 columns">
		<h3 class="pen-title">Animated Hover Selection</h3>
		<p data-height="268" data-theme-id="0" data-slug-hash="AcLeI" data-default-tab="result" class="codepen">See the Pen <a href="http://codepen.io/dganoff/pen/AcLeI">Animated Hover Selection</a> by Demetri Ganoff (<a href="http://codepen.io/dganoff">@dganoff</a>) on <a href="http://codepen.io">CodePen</a>.</p>
	</div>
	<div class="grid-6 columns">
		<h3 class="pen-title">Sass buttons</h3>
		<p data-height="268" data-theme-id="0" data-slug-hash="Lvujs" data-default-tab="result" class="codepen">See the Pen <a href="http://codepen.io/dganoff/pen/Lvujs">SASS Button Mixin</a> by Demetri Ganoff (<a href="http://codepen.io/dganoff">@dganoff</a>) on <a href="http://codepen.io">CodePen</a>.</p>
	</div>
</div><!-- .row -->