<footer role="contentinfo">
	<section class="text-center">
		Hand crafted by Demetri Ganoff.
	</section>
	<nav class="footer-nav">
		<a title="@dganoff" href="http://www.twitter.com/dganoff"><i class="icon-twitter"></i></a>
		<a title="GitHub.com/dganoff" href="http://github.com/dganoff"><i class="icon-github"></i></a>
		<a title="CodePen.io/dganoff" href="http://codepen.io/dganoff"><i class="icon-codepen-white"></i></a>
		<a title="LinkedIn" href="http://www.linkedin.com/pub/demetri-ganoff/2b/97a/a58"><i class="icon-linkedin"></i></a>
	</nav>
	<p class="text-center">
		Check out the source code for this site: <br>
		<i class="icon-code"></i> <a href="https://github.com/dganoff/personal-site"> https://github.com/dganoff/personal-site</a>
	</p>
</footer>