<footer role="contentinfo">
	<section class="text-center">
		Hand crafted by Demetri Ganoff.
	</section>
	<nav class="footer-nav">
		<a href="http://www.twitter.com/dganoff" target="_blank"><i class="icon-twitter"></i></a>
		<a href="http://github.com/dganoff" target="_blank"><i class="icon-github"></i></a>
		<a href="http://codepen.io/dganoff" target="_blank"><i class="icon-code"></i></a>
		<a href="http://www.linkedin.com/pub/demetri-ganoff/2b/97a/a58" target="_blank"><i class="icon-linkedin"></i></a>
	</nav>

</footer>