<nav role="navigation" class="main-nav">
	<a href="" class="nav-toggle" id="mobile-toggle"><i class="icon-reorder"></i></a>

	<ul id="main-nav">
		<li><a href="#">Home</a></li>
		<li><a href="#">Blog</a></li>
		<li><a href="#">Work</a></li>
	</ul>
</nav>