<nav role="navigation" class="main-nav">
	<a href="" class="nav-toggle" id="mobile-toggle"><i class="icon-reorder"></i></a>

	<ul id="main-nav">
		<li><a href="/" {{#is title "Home"}} class="active"{{/is}}><i class="icon-home"></i> Home</a></li>
		<li><a href="/blog" {{#is title "Blog"}} class="active"{{/is}}><i class="icon-pencil"></i> Blog</a></li>
		<li><a href="/about.html" {{#is title "Work"}} class="active"{{/is}}><i class="icon-user"></i> About</a></li>
	</ul>
</nav>