<h2>Typography</h2>
<header>
	<h1>H1 Title 1 <small>Subtitle</small></h1>
	<h2>H2 Title 2 <small>Subtitle</small></h2>
	<h3>H3 Title 3 <small>Subtitle</small></h3>
	<h4>H4 Title 4 <small>Subtitle</small></h4>
	<h5>H5 Title 5 <small>Subtitle</small></h5>
	<h6>H6 Title 6 <small>Subtitle</small></h6>
</header>