.header {
	position: fixed;
	top: 0;
	z-index: 9999;
	width: 100%;
	background: rgba(darken($primary-color,25),.75);
	color: white;
	@include clearfix;
}

.logo {
	float: left;
	position: relative;
	width: 40px;
	height: 40px;
	margin: 5px 0 0 5px;
	background: url(../img/logo-circle.svg) left center no-repeat;

	@media (min-width: $small-screen) {
		width: 150px;
		height: 50px;
		margin: 0 0 0 $gutter;
		background: url(../img/logo.svg) left center no-repeat;
	}
}

.nav-toggle {
	display: none;
	position: absolute;
	right: 0;
	padding: 5px 15px;
	text-decoration: none;
	color: white !important;
	font-size: 2em;

	@media (min-width: $medium-screen) {
		display: none;
	}
}

.main-nav {
	float: right;

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	li {
		list-style: none;
		float: left;
		border-right: 1px solid rgba(black, 0.15);
		
		&:last-child { border-right: none;}

		a {
			display: block;
			padding: 1em;
			text-decoration: none;
			color: white;

			&:hover {
				background: rgba(black, 0.2);
			}
		}
	}
}