---
layout: layout.hbs
---
<div class="row">
	<div class="grid-12 columns">
		<a href="/blog" class="blog-back">Blog</a>

		<section role="main">
			<article class="article-body">
				{{> body}}
			</article>
		</section>
	</div>
</div>