.row {
	position: relative;
	width: 100%;
	margin: 0 auto;
	max-width: $container;
	@include clearfix;

	&.display {
		[class^="grid-"], [class^="small-grid-"] {
			border-right: 1px solid black;
			background: #333;
			color: white;
			text-align: center;

			&:last-child {
				border-right: none;
			}
		}
	}

	.row {
		width: auto;
		margin-left: -($gutter/2);
		margin-right: -($gutter/2);
		max-width: none;

		@media (min-width: $small-screen) {
			margin-left: -$gutter;
			margin-right: -$gutter;
		}
	}
}

.columns {
	position: relative;
	float: left;
	padding: $gutter/2;

	@media (min-width: $small-screen) {
		padding: $gutter;
	}
}

[class^="grid-"] {
	position: relative;
	width: 100%;
}

@for $i from 1 through $columns {
	.grid-#{$i} {

		@media (min-width: $small-screen) {
			width: percentage($i/$columns);
		}
	}

	.small-grid-#{$i} {
		width: percentage($i/$columns);
	}
}

// Tile grid:
.tile-grid {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 0px; // fix for the inline-block spacing issue
	@include clearfix;

	.tile-grid-item {
		@include inline-block;
		width: 50%;

		@media (min-width: $small-screen) {
			width: percentage(1/4);
		}

		@media (min-width: $medium-screen) {
			width: percentage(1/6);
		}

		@media (min-width: $large-screen) {
			width: percentage(1/8);
		}

		a:link, a:visited {
			display: block;
			padding: 0.25em;
			border: 0.25em;
			border: 1px solid transparent;
			font-size: 16px;
			font-weight: bold;
			text-decoration: none;
			
			&:hover {
				color: $dark-color;
				border: 1px solid #eee;

				[class*="fa-"] {
					@include transform(scale(1.15));
				}
			}
		}

		[class*="fa-"] {
			display: block;
			font-size: 3em;
		}
	}

	
}

.columns-2 {
	@include columns(1);

	@media (min-width: $small-screen) {
		@include columns(2 1em);
	}
}