.row {
	position: relative;
	width: 100%;
	margin: 0 auto;
	max-width: $container;
	@include clearfix;

	&.display {
		[class^="grid-"], [class^="small-grid-"] {
			border-right: 1px solid black;
			background: #333;
			color: white;
			text-align: center;

			&:last-child {
				border-right: none;
			}
		}
	}

	.row {
		width: auto;
		margin-left: -$gutter;
		margin-right: -$gutter;
		max-width: none;
	}
}

.columns {
	position: relative;
	float: left;
	padding: $gutter;
}

[class^="grid-"] {
	position: relative;
	width: 100%;
}

@for $i from 1 through $columns {
	.grid-#{$i} {

		@media (min-width: $small-screen) {
			width: percentage($i/$columns);
		}
	}

	.small-grid-#{$i} {
		width: percentage($i/$columns);
	}
}

// Tile grid:
.tile-grid {
	list-style: none;
	margin: 0;
	padding: 0;
	@include clearfix;

	.tile-grid-item {
		float: left;
		width: 50%;

		@media (min-width: $small-screen) {
			width: percentage(1/3);
		}

		@media (min-width: $medium-screen) {
			width: percentage(1/4);
		}

		@media (min-width: $large-screen) {
			width: percentage(1/5);
		}
	}
}