* {
	@include box-sizing(border-box);
}

html, body {
	height: 100%;
}

body {
	// @include background-image(
	// 	linear-gradient(bottom left, purple, turquoise, yellow)
	// );
	padding-top: 50px;
	background: $background-color;
}

::selection {
	background: $dark-color;
	color: white;
}

img {
	max-width: 100%;
}