body {
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-weight: 400;
	color: #454545;
}

// Formatting:
.text-left {text-align: left;}
.text-center {text-align: center;}
.text-right {text-align: right;}

// Links:
a {
	&:link {
		color: $link-color;
	}

	&:visited {
		color: darken($link-color, 5);
	}
}

// Copy:
h1, h2, h3, h4, h5, h6 {
	font-weight: 900; // based on the Lato Google Font
	color: black;

	small {
		display: block;
		color: $dark-color;
		font-size: 65%;
		font-weight: 400;
	}
}

article {
	p, ul, ol, blockquote {
		line-height: 1.45em;
		margin: 0 0 1em 0;
		font-weight: 400;
	}
	
	p {
		text-indent: 1em;
	}

	pre {
		font-size: em(12);
	}
}

.lead {
	font-size: 1.15em;
	font-weight: 700;
	color: black;
}